In [ ]:
Create an index named dates representing a range of dates starting from 1-Sep-2017 to 15-Sep-2017.
Note: Use the date_range method of pandas.

Print the 3rd element of the created DateTimeIndex.

In [1]:
import pandas as pd

In [2]:
DateTimeIndex = pd.date_range('1-Sep-2017','15-Sep-2017')

In [5]:
DateTimeIndex[2]

Timestamp('2017-09-03 00:00:00', freq='D')

In [ ]:
Convert the following date strings into datetime objects: datelist = ['14-Sep-2017', '9-Sep-2017'].
Note: Use the to_datetime method of pandas.

Capture the result in the variable 'dates_to_be_searched' and print it.

In [8]:
datelist = ['14-Sep-2017', '9-Sep-2017']
dates_to_be_searched = pd.to_datetime(datelist)
print(dates_to_be_searched)

DatetimeIndex(['2017-09-14', '2017-09-09'], dtype='datetime64[ns]', freq=None)

In [7]:
pd.to_datetime(datelist)

DatetimeIndex(['2017-09-14', '2017-09-09'], dtype='datetime64[ns]', freq=None)

In [ ]:
Check if the elements of 'dates_to_be_searched' are present in DateTimeIndex, 'dates', created above.
Note: Use the isin method associated with DatetimeIndex objects.

Print the output.

In [15]:
for i in dates_to_be_searched:
    print(i in DateTimeIndex)

True
True

In [18]:
import pandas as pd
DateTimeIndex = pd.date_range('1-Sep-2017','15-Sep-2017')
datelist = ['14-Sep-2017', '9-Sep-2017']
dates_to_be_searched = pd.to_datetime(datelist)
#print(dates_to_be_searched)
dates_to_be_searched.isin(DateTimeIndex)

DatetimeIndex(['2017-09-14', '2017-09-09'], dtype='datetime64[ns]', freq=None)

array([ True,  True])

In [ ]:
Create a multi index named mi_index of two levels, represented in the following array 
arraylist: arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3','s4', 's5']*2] .
Note: Use MultiIndex of pandas.

Print levels of mi_index.

In [28]:
#mi_index
arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3','s4', 's5']*2]

In [33]:
arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3','s4', 's5']*2]
mi_index= pd.MultiIndex.from_arrays(arraylist)
print(mi_index)

MultiIndex([('classA', 's1'),
            ('classA', 's2'),
            ('classA', 's3'),
            ('classA', 's4'),
            ('classA', 's5'),
            ('classB', 's1'),
            ('classB', 's2'),
            ('classB', 's3'),
            ('classB', 's4'),
            ('classB', 's5')],
           )

In [34]:
import pandas as pd

d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [35]:
len(pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D'))

4

In [36]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')

In [37]:
d + pd.Timedelta('1 days 2 hours')

DatetimeIndex(['2017-09-12 02:00:00', '2017-09-14 02:00:00',
               '2017-09-16 02:00:00', '2017-09-18 02:00:00'],
              dtype='datetime64[ns]', freq='2D')

In [39]:
len(pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D'))

4

In [ ]:
Create a series named heights_A with values 176.2, 158.4, 167.6, 156.2, and 161.4. 
These values represent heights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Create another series named weights_A with values 85.1, 90.2, 76.8, 80.4, and 78.9. These values represent weights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Create a dataframe named df_A, which contains the height and weight of five students namely s1, s2, s3, s4 and s5.

Label the columns as Student_height and Student_weight, respectively.

Set height and weight values of student s3 to NaN .

Note: Use .loc to select the s3 record and set the values to np.nan.

Set the weight of s5 to NaN.

Drop the rows having null values in any of the columns, and assign the result to df_A2. Note: Use the dropna method.

Display the dataframe df_A2.

Instructions

In [57]:
import pandas as pd
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=['s1', 's2', 's3', 's4', 's5'])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=['s1', 's2', 's3', 's4', 's5'])
df_A = pd.DataFrame()
df_A['Student_height'] = heights_A
df_A['Student_weight'] = weights_A
import numpy as np
df_A.loc['s3']=np.nan
df_A['Student_weight'].loc['s5']=np.nan
df_A2=df_A.dropna(axis=0)
print(df_A2)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s4           156.2            80.4

In [56]:
pd.rem

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s4           156.2            80.4

In [58]:
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)),
                   'rain':pd.Series(100 + 50*np.random.randn(10)),
                   'location':list('AAAAABBBBB')
})
print(df.head(2))

        temp        rain location
0  23.956463  142.919725        A
1  36.959387  120.045869        A

In [61]:
replacements = {
'location': {'A':'Hyderabad', 'B':'Mumbai'}
}
df = df.replace(replacements, regex=True)
print(df.head(2))

        temp        rain   location
0  23.956463  142.919725  Hyderabad
1  36.959387  120.045869  Hyderabad

In [65]:
df.loc[df.location.str.contains('umb')]

        temp        rain location
5  19.810369   56.694291   Mumbai
6  32.821571   52.790612   Mumbai
7  28.140341  177.593106   Mumbai
8  43.415288   93.843945   Mumbai
9  41.037429  135.798831   Mumbai

In [66]:
regions = df.groupby('location')
print(regions.mean())

                temp        rain
location
Hyderabad  31.043767  139.955551
Mumbai     33.045000  103.344157

In [ ]:
Filter the rows from df_A, whose Student_height > 160.0 and Student_weight < 80.0,
and capture them in another dataframe df_A_filter1.

Print the dataframe df_A_filter1.

In [68]:
import pandas as pd
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=['s1', 's2', 's3', 's4', 's5'])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=['s1', 's2', 's3', 's4', 's5'])
df_A = pd.DataFrame()
df_A['Student_height'] = heights_A
df_A['Student_weight'] = weights_A
df_A_filter1 = df_A[(df_A['Student_height'] > 160.0) & (df_A['Student_weight'] < 80.0)]
print(df_A_filter1)

    Student_height  Student_weight
s3           167.6            76.8
s5           161.4            78.9

In [ ]:
Filter the rows from df_A, whose index values end with 5, and capture them in another dataframe df_A_filter2.

Print the dataframe df_A_filter2.

In [72]:
df_A_filter2 = [str(i).endswith('5') for i in df_A.index]
print(df_A[df_A_filter2])

    Student_height  Student_weight
s5           161.4            78.9

In [ ]:
Create a new column Gender in the dataframe df_A using the command: df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
Group df_A based on Gender, and capture the result in df_groups.
Print the mean height and weight of each group. 
Note: Use the groupby method to group df_A, and then call the mean method on grouped data df_groups.

In [74]:
df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
df_groups= df_A.groupby('Gender')
print(df_groups.mean())

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F

        Student_height  Student_weight
Gender
F           159.900000       84.550000
M           166.666667       80.766667

In [94]:
g = df_A.groupby(df_A.index.str.len())
for i in g:
    print(i)
len(g)

(2,     Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F)

1

In [92]:
g.aggregate({'Student_height':len, 'Student_weight':sum})

   Student_height  Student_weight
2             5.0           411.4

In [104]:
g.filter(lambda x: len(x) > 1)

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F

In [106]:
g.groups

{2: Index(['s1', 's2', 's3', 's4', 's5'], dtype='object')}